@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-zinc-900 antialiased;
}

a {
  @apply text-inherit no-underline;
}
